img.product {
  max-width: 100%;
}

.jumbotron {
  background-color: #b51616;
}

h1#header {
  font-size: 90px;
  text-align: center;
  font-family: 'Creepster', cursive;
}
body {
  background-color: #f0ddbb;
}

li.receiptItem {
  display: none;
}
